.puzzles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 32px;
}

.puzzles-row {
    display: flex;
    align-items: center;
}

.puzzle-link {
    display: inline-block;
    width: 250px;
    margin: 32px;
    font-size: 18pt;
}